<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật lớp</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Cập nhật lớp</h1>
    <form th:action="@{/edit/{maLop}(maLop=${lop.maLop})}" th:object="${lop}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="maLop">Mã lớp: </label>
            <input class="form-control" type="text" th:field="*{maLop}" id="maLop" readonly>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="tenLop">Tên lớp: </label>
            <input class="form-control" type="text" th:field="*{tenLop}" id="tenLop">
            <span th:if="${#fields.hasErrors('tenLop')}" th:errors="*{tenLop}" class="text-danger"></span>
        </div>
        <!-- Các trường thông tin khác của lớp -->
        <input type="submit" class="btn btn-primary" value="Cập nhật">
    </form>
    <br>
    <a th:href="@{/}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
