<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Thêm lớp</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Thêm mới lớp</h1>
    <form th:action="@{/Monhoc/add}" th:object="${monhoc}" method="post" class="needs-validation">
        <div class="col-6 mb-3">
            <label class="form-label" for="maMon">Mã môn hoc: </label>
            <input class="form-control" type="text" th:field="*{maMon}" id="maMon">
            <span th:if="${#fields.hasErrors('maMon')}" th:errors="*{maMon}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="tenMonHoc">Ten Mon hoc: </label>
            <input class="form-control" type="text" th:field="*{tenMonHoc}" id="tenMonHoc">
            <span th:if="${#fields.hasErrors('tenMonHoc')}" th:errors="*{tenMonHoc}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Thêm mới">
    </form>
    <br>
    <a th:href="@{/Monhoc/}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
