<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa thông tin sinh viên</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h2>Chỉnh sửa thông tin mon hoc</h2>
    <form th:action="@{/Monhoc/edit/{id}(id=${monhoc.maMon})}" th:object="${monhoc}" method="post" class="needs-validation">
        <div class="col-6 mb-3">
            <label class="form-label" for="maMon">Mã môn hoc: </label>
            <input class="form-control" type="text" th:field="*{maMon}" id="maMon">
            <span th:if="${#fields.hasErrors('maMon')}" th:errors="*{maMon}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="tenMonHoc">tên mon hoc: </label>
            <input class="form-control" type="text" th:field="*{tenMonHoc}" id="tenMonHoc">
            <span th:if="${#fields.hasErrors('tenMonHoc')}" th:errors="*{tenMonHoc}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>